@import 'bourbon/bourbon';
// $visual-grid: true;
// $visual-grid-color: grey;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
@import 'neat/neat';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 3em;
}

$primaryActionColor: #256a90;
$primaryColor: #ffffff;

$sectionHeight: 600px;

body {
  margin: auto;
  font-family: $helvetica;
}

nav {
  padding: 5px 0;
  background-color: #dbd8b4;
  opacity: 0.8;
  width: 100%;

  .nav {
    @include outer-container;
    text-align: center;
  }

  a:link {
    font-size: 2em;
    font-weight: bold;
    color: $primaryActionColor;
    text-transform: uppercase;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: $primaryActionColor;
  }

  #navPortfolio {
    @include span-columns(4);
  }

  #navAbout {
    @include span-columns(4);
  }
  #navBlog {
    @include span-columns(4);
  }
}

.content {
  @include outer-container;
  height: $sectionHeight;

  h1 {
    font-size: 5em;
    margin: 0px;
  } 

  h2 {
    font-size: 3em;
    margin: 0px;
  }
}

#intro {
  background-color: #8b908b;
  color: $primaryColor;

  .circle {
      $scale: .2;
      $circleSize: 450px * $scale;
      $imageSize: 308px *  $scale;
      margin-top: 20px;
      width: $circleSize;
      height: $circleSize;
      background: #231f20;
      -moz-border-radius: $circleSize / 2;
      -webkit-border-radius: $circleSize / 2;
      background-image: url("../images/logo.png");
      background-size: $imageSize;
      background-position:50% 50%;
      background-repeat:no-repeat;    
  }
  img {
    vertical-align: bottom;
  }
  .side {
    @include span-columns(5);
  }

  .main {
    @include span-columns(7);
  }

}

#portfolio {
  .side {
    @include span-columns(4);
  }

  .main {
    @include span-columns(8);
  }

}

#about {
  background-color: #5f2490;
  color: $primaryColor;
}

// Useful
.center {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
}

ul.inlineList {
  margin: 0;
  padding: 0;
  display: inline;
  li {
    display: inline;
  }
}
.socialIcons a {
  color: $primaryColor;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.socialIcons a:hover {
    color: $primaryActionColor;
}

