@import '../components/css-modal/modal';
@import 'bourbon/bourbon';
// $visual-grid: true;
// $visual-grid-color: grey;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;

@import 'neat/neat';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic|PT+Sans);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 3em;
}

$max-width: 960px;

$primaryActionColor: #60bee6;
$primaryBrightColor: #ffffff;
$primaryDarkColor: #494949;
$black: #191919;
$darkGray: #333;
$lightGray: #ddd;

$borderRadius: 3px;


$clearPlane:rgba(51, 51, 51, 0.9);

$sectionHeight: 500px;

body {
  margin: auto;
  font: 18px/1.2 Lato, sans-serif;
  background-color: $primaryBrightColor;
  color: #000;
}

a:link {
  color: $primaryActionColor;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: $primaryActionColor;
}

h1, h2 {
  font-family: 'PT Sans', serif;
  color: $primaryDarkColor;
}

nav {
  padding: 15px 0;
  background-color: $darkGray;
  opacity: 0.9;
  width: 100%;
  z-index: 100;

  .nav {
    @include outer-container;
    text-align: center;
  }

  a:link {
    color: $primaryBrightColor;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:visited {
    color: $primaryBrightColor;
  }

  a:hover {
    text-decoration: underline;
  }

  #navPortfolio {
    @include span-columns(3);
  }
  #navResume {
    @include span-columns(3);
  }
  #navAbout {
    @include span-columns(3);
  }
  #navBlog {
    @include span-columns(3);
  }
}

.content {
  @include outer-container;
  height: 100%;
  min-height: $sectionHeight;
  padding: 25px 0;

  color: $black;

  h1 {
    font-size: 5em;
    margin: 0px;
  } 

  h2 {
    font-size: 2em;
    margin: 0px;
  }
}

#intro {
  padding: 20px;
  text-shadow: 0px 2px 2px $darkGray;
  
  background-color: $primaryDarkColor;
  background-image: url("../images/background2.jpg");
  background-repeat:no-repeat;   
  background-position:50% 50%;
  background-size: cover;
  color: $primaryBrightColor;
  // text-align: center;


  .content {
    min-height: 100%;
  }
  h1 {
    color: #fff;
  }
  p, a:link, a:visited {
    color: $lightGray;
    margin: 25px 0;
  }
  a:hover {
    color: $primaryBrightColor;
  }
  .subtitle {
    font-size:2em;
  }
}

#portfolio {
  li.portfolioItem {
    @include span-columns(6);
    @include omega(2n);

    $portfolioItemMargin: 25px;
    margin-top: $portfolioItemMargin;
    margin-bottom:$portfolioItemMargin;

    h2 {
      color: $primaryActionColor;
    }
  }
  div.iphone {
    border: 1px #b6b6b6 solid;
    border-radius: 3px;
  }
  .modal {
    @extend %modal;
  }
  
}


#resume {
}

#resumeMain, #recommend {
  @include span-columns (6);
}

#recommend {
  background-color: lighten($primaryActionColor, 20%);
  border-radius: $borderRadius;
  a:link, a:visited { color:darken($primaryActionColor, 10%);}
}


#about {
}

footer {
  background-color: $primaryDarkColor;
}
footer .content {
  min-height: 0;
  height: 100%;
  color: #fff;
}


// Useful
.center {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
}

a.button {
  padding: .5em 1em;
  background-color:$primaryActionColor;
  color: $primaryDarkColor;
  font-weight: normal;
  text-decoration: none;
  border-radius: $borderRadius;  
}

ul.inlineList {
  margin: 0;
  padding: 0;
  display: inline;
  li {
    display: inline;
  }
}

.socialIcons a {
  color: $primaryBrightColor;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.socialIcons a:hover {
  color: $primaryActionColor;
}
