@import '../components/css-modal/modal';
@import 'bourbon/bourbon';
// $visual-grid: true;
// $visual-grid-color: grey;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;

@import 'neat/neat';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 3em;
}

$primaryActionColor: #385194;
$primaryColor: #ffffff;
$clearPlane:rgba(60, 100, 200, 0.3);

$sectionHeight: 100%;

body {
  margin: auto;
  font-family: $helvetica;
  font-size: 18px;
  background-color: #070d0b;
}

a:link {
  font-weight: bold;
  color: lighten($primaryActionColor, 30%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #fff;
}

nav {
  padding: 5px 0;
  background-color: #333;
  opacity: 0.9;
  width: 100%;
  z-index: 100;

  .nav {
    @include outer-container;
    text-align: center;
  }

  a:link {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
  }

  a:visited {
    color: #fff;
  }

  #navPortfolio {
    @include span-columns(3);
  }
  #navResume {
    @include span-columns(3);
  }
  #navAbout {
    @include span-columns(3);
  }
  #navBlog {
    @include span-columns(3);
  }
}

.content {
  @include outer-container;
  height: $sectionHeight;

  h1 {
    font-size: 5em;
    margin: 0px;
  } 

  h2 {
    font-size: 3em;
    margin: 0px;
  }
}

#intro {
  height: 800px;
  position: relative;
  text-shadow: 0px 3px 3px #333;

  background-color: #000000;
  background-image: url("../images/seattle3.jpg");
  background-repeat:no-repeat;   
  background-position:50% 50%;
  background-size: cover;
  color: #fff;
  text-align: right;

  .text {
    position: absolute; 
    bottom: 10px;
    right: 10px;
    text-align: right;
    background-color: $clearPlane;
    border-radius: 3px;
    padding: 20px;
  }

}

#portfolio {

  background-color: #ffffff;
  li.portfolioItem {
    @include span-columns(4);
    @include omega(3n);
    height: 150px;
    
    color: #000;
    text-shadow: 0px 2px 1px #fff;

    background-color: #333;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid #333;
    border-radius: 3px;

    a {
      display:block; 
      width:100%; 
      height:100%;
      color: #000;
    }

    .text {
      position: absolute;
      bottom: 0;
      background-color: darken($clearPlane, 20%);
      width: 100%;
      padding: 5px;
    }
  }

  .modal {
    @extend %modal;
  
  }
}

#appFunnel {
  background-image: url("../images/appfunnel.png");
}

#corgiFetch {
  background-image: url("../images/iphone.png");
}

#tjdesigns {
  background-image: url("../images/tandjdesigns.png");
}

#resume {
  background-color: #58b49c;
  color: $primaryColor;
}

#about {
  background-color: #5f2490;
  color: $primaryColor;
}

// Useful
.center {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
}

a.button {
  @include button($primaryActionColor);
}

ul.inlineList {
  margin: 0;
  padding: 0;
  display: inline;
  li {
    display: inline;
  }
}

.socialIcons a {
  color: $primaryColor;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.socialIcons a:hover {
  color: #999;
}
