* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

nav {
  padding: 5px 0;
  background-color: #dbd8b4;
  opacity: 0.8;
  width: 100%; }
  nav .nav {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    nav .nav:before, nav .nav:after {
      content: " ";
      display: table; }
    nav .nav:after {
      clear: both; }
  nav ul {
    margin: 0; }
  nav li {
    display: inline-block; }
  nav a:link {
    font-size: 2em;
    font-weight: bold;
    color: #256a90;
    text-transform: uppercase;
    text-decoration: none; }
  nav a:hover {
    text-decoration: underline; }
  nav a:visited {
    color: #256a90; }
  nav #navPortfolio {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    nav #navPortfolio:last-child {
      margin-right: 0; }
  nav #navPortfolio:hover {
    opacity: 1; }
  nav #navAbout {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    nav #navAbout:last-child {
      margin-right: 0; }
  nav #navBlog {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%; }
    nav #navBlog:last-child {
      margin-right: 0; }

.content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  height: 600px; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }
  .content h1 {
    font-size: 5em;
    margin: 0px; }

#intro {
  background-color: #8b908b;
  color: #fff; }
  #intro .circle {
    margin-top: 20px;
    width: 225px;
    height: 225px;
    background: #231f20;
    -moz-border-radius: 112.5px;
    -webkit-border-radius: 112.5px;
    background-image: url("../images/logo.png");
    background-size: 154px;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  #intro img {
    vertical-align: bottom; }
  #intro .side {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    #intro .side:last-child {
      margin-right: 0; }
  #intro .main {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%; }
    #intro .main:last-child {
      margin-right: 0; }

#portfolio .side {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }
  #portfolio .side:last-child {
    margin-right: 0; }
#portfolio .main {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  #portfolio .main:last-child {
    margin-right: 0; }

#about {
  background-color: #5f2490;
  color: #fff; }

.center {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle; }
