// bower:scss
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "bower_components/css-modal/modal.scss";
// endbower

// $visual-grid: true;
// $visual-grid-color: grey;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;

@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic|PT+Sans);

$max-width: 980px;
$mobile: new-breakpoint(max-width 500px 6);

$primaryActionColor: #e86f59;
$secondaryActionColor: #9c9f90;
$primaryBrightColor: #ffffff;
$primaryDarkColor: #494949;
$black: #4d4b4a;
$darkGray: #595452;
$lightGray: #b9b7aa;

$borderRadius: 3px;

$clearPlane:rgba(51, 51, 51, 0.9);

$sectionHeight: 500px;
$spacing: 20px;

body {
  margin: auto;
  font: 18px/1.2 Lato, sans-serif;
  background-color: $primaryBrightColor;
  color: $black;
}

a:link {
  color: $primaryActionColor;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: $primaryActionColor;
}

h1, h2, #navTitle {
  font-family: 'PT Sans', serif;
  color: $primaryDarkColor;
  font-weight: normal;
}

p {
  margin: 0 0 $spacing 0;
}

nav {
  height: 80px;
  line-height: 80px;
  background-color: $darkGray;
  font-size: 2em;
  opacity: 0.9;
  width: 100%;
  z-index: 100;

  .nav {
    @include outer-container;
    #navTitle {
      @include span-columns ( 3 );
      a:link, a:visited {
        color: $lightGray;
        text-transform: none;
      }
    }

    .adjustNav {
      @include span-columns ( 9 )
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: justify;
    }

    ul:after {
        content: "";
        width: 100%;
        display: inline-block;
    }

    li {
        display: inline;
    }
  }

  a:link {
    color: $primaryBrightColor;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:visited {
    color: $primaryBrightColor;
  }

  a:hover {
    text-decoration: underline;
  }
}

.content {
  @include outer-container;
  height: 100%;
  min-height: $sectionHeight;

  padding: 100px $spacing/2;

  color: $black;

  h1 {
    font-size: 5em;
    margin: 0px;
  }

  h2 {
    font-size: 2em;
    margin: 0px;
  }
}

#intro {
  padding: $spacing;
  text-shadow: 0px 2px 2px $darkGray;

  background-color: $primaryDarkColor;
  background-image: url("../images/background2.jpg");
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  color: $primaryBrightColor;

  .content {
    min-height: 100%;
  }
  h1 {
    color: #fff;
  }
  a:link, a:visited {
    color: $lightGray;
    margin: 25px 0;
  }
  a:hover {
    color: $primaryBrightColor;
  }
  .subtitle {
    font-size:2em;
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
}

#portfolio {
  li.portfolioItem {
    @include span-columns(6);
    @include omega(2n);
    @include media($mobile, 6) {
      @include span-columns(6);
    }

    $portfolioItemMargin: 25px;
    margin-top: $portfolioItemMargin;
    margin-bottom:$portfolioItemMargin;

    h2 {
      color: $primaryActionColor;
      margin: $spacing 0 $spacing/4 0;
    }

    ul.tags {
      display:block;
      margin: 0 0 $spacing/2 0;
      li {
        color: $secondaryActionColor;
        margin-right: $spacing;
      }
    }
  }

  .portfolioImage {
    width: 100%;
  }

  .corgiFetchImage {
    border: 1px #787878 solid;
    border-radius: 6px;
    max-width: 468px;
    max-height: 301px;
  }

  .modal {
    @extend %modal;
    &.is-active {
      background-color:rgba(40,40,40,.5);
    }
    .modal-inner {
      background-color: white;
      padding: 0 10px;
    }
    .modal-close {

    }
    img, #corgiFetchIphone {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $spacing;
    }
    .buttons {
      text-align: center;
    }
  }

}

#resumeMain, #recommend {
  @include span-columns (6);
}

#recommend {
  // background-color: #c3c5bf;
  border: 1px $lightGray solid;
  border-radius: $borderRadius;
  a:link, a:visited { color:darken($primaryActionColor, 10%);}
}


#about {
}

footer {
  background-color: $primaryDarkColor;

  .content {
    min-height: 0;
    color: #fff;
    padding: $spacing 0;
  }
}



// Useful
.center {
  width: 50%;
  margin: 0 auto;
  vertical-align: middle;
}

a.button {
  display: inline-block;
  margin: 0 $spacing $spacing 0;
  padding: .5em 1em;
  background-color:$primaryActionColor;
  color: $primaryBrightColor;
  text-decoration: none;
  border-radius: $borderRadius;
}

a.button:hover {
    background-color:darken($primaryActionColor, 10%)
}

ul.inlineList {
  list-style-type: none;
  padding: 0;
  li {
    display: inline;
  }
}

.socialIcons a {
  color: $primaryBrightColor;
  text-decoration: none;
  margin: 0 10px 0 0;
}

.socialIcons a:hover {
  color: $lightGray;
}
